#
# Custom r5x-specific init script
#

    # Setup runtime blkio
    write /dev/blkio/blkio.weight 1000
    write /dev/blkio/background/blkio.weight 200
    write /dev/blkio/blkio.group_idle 2000
    write /dev/blkio/background/blkio.group_idle 0
    
    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1

    # Override readahead to 128KiB
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk1/queue/read_ahead_kb 128
